<table mat-table [dataSource]="computers">

  <ng-container matColumnDef="vendor">
    <th mat-header-cell *matHeaderCellDef>Vendor</th>
    <td mat-cell *matCellDef="let computer">{{computer.vendor}}</td>
  </ng-container>

  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef>Model</th>
    <td mat-cell *matCellDef="let computer">{{computer.model}}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let computer">{{computer.description}}</td>
  </ng-container>

  <ng-container matColumnDef="storage">
    <th mat-header-cell *matHeaderCellDef>Storage</th>
    <td mat-cell *matCellDef="let computer">{{computer.storage + " GB"}}</td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let computer">
      <button mat-button [routerLink]="'/computer-form/' + computer.id">Edit</button>
      <button mat-button (click)="deleteComputer(computer)"> <!-- *ngIf="userService.hasPermission('computermanager.delete_computer')" --> Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
