<mat-toolbar>
  <button mat-button
          [matMenuTriggerFor]="computerMenu">Computer</button>
  <mat-menu #computerMenu="matMenu">
    <button mat-menu-item routerLink="computer-list">List
      computers</button>
    <button mat-menu-item routerLink="computer-form">Create
      computer</button>
  </mat-menu>
  <app-logout></app-logout>
  <share-buttons [theme]="'modern-dark'"
                 [include]="['facebook','twitter','google', 'whatsapp','email','print','copy']"
                 [show]="3"
                 [showText]="false"
  >Share this page with your friends!</share-buttons>
</mat-toolbar>
<router-outlet></router-outlet>
