<mat-toolbar>
  <button mat-button
          [matMenuTriggerFor]="computerMenu">Computer</button>
  <button mat-button [mat-menu-trigger-for]="shopMenu">Shop</button>
  <mat-menu #computerMenu="matMenu">
    <button mat-menu-item routerLink="computer-list"><mat-icon>list</mat-icon> List
      computers</button>
    <button mat-menu-item routerLink="computer-form"><mat-icon>create</mat-icon>Create
      computer</button>
  </mat-menu>
  <mat-menu #shopMenu="matMenu">
    <button mat-menu-item routerLink="shop-list"><mat-icon>list</mat-icon>List
      shops</button>
    <button mat-menu-item routerLink="shop-form"><mat-icon>create</mat-icon>Create
      new shop</button>
  </mat-menu>
  <share-buttons [theme]="'modern-dark'"
                 [include]="['facebook','twitter','google', 'whatsapp','email','print','copy']"
                 [show]="3"
                 [showText]="false"
  >Share this page with your friends!</share-buttons>
  <app-logout></app-logout>
</mat-toolbar>
<router-outlet></router-outlet>
